.container {
    display: flex;
    flex-direction: row;
    gap: 0px;
    width: 100vw;
    /* height: 100vh; */
    flex-wrap: wrap;
}

.side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 50vw;
    justify-content: center;
    height: 100vh;
}

.left {
    color: white;
    background-color: slateblue;
    flex-basis: 50vw;
    align-items: end;
}

.right {
    background-color: wheat;
    flex-basis: 50vw;
    align-items:start;
}

.left > div {
    text-align: center;
    margin-right: 50px;
}

.left h1 {
    font-size: 6rem;
    margin-bottom: 10px;
}

.left p {
    font-family: cursive;
    font-size: 1.5rem;
    margin-bottom: 80px;
    margin-top: 0px;
}

.right hr {
    width: 300px;
    margin: 0px;
    border: 0px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.right h1 {
    font-size: 5rem;
    margin-bottom: 5px;
    margin-top: 0px;
}

.right > div {
    margin-left: 50px;
}

.buttonContainer {
    display: flex;
    gap: 15px;
    margin-top: 0px;
}
